body
{
	background-color: #154a23;
	background-image: repeating-linear-gradient(0deg, #154a23 1%, #153a24 3%, #154a23 10%);
}

h1
{
	text-align: center;
	color: #2e7cdb;
}

p.textblock
{
	color: #d1c277;
	background-color: rgba(20, 20, 0, 0.3);
	height: 120%;
	margin: auto;
	text-align: center;

	padding-top: 7px;
	padding-bottom: 7px;

	width = 600px;
}

div.footer
{
	position:fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	padding-left: 10px;
	padding-right:10px;
	padding-top: 2px;
	padding-bottom: 2px;


	background-color: rgba(20, 20, 0, 0.5);
}

.footerelement
{
	margin-left: 50px;
	color: #ebb215;
}

.nav
{
	color: #ebb215;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.gamecanvas
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#ballcanvas
{
	background-color: #9ab099;
	background-image: linear-gradient(#7096d4, #8aaeeb);
}
